@page
@model IndexModel

<h1>Welcome</h1>

<p>Logged in as: @Model.Username</p>

<ul>
    <li><a href="/Users">View Users</a></li>
    <li><a href="/OUs">View OUs</a></li>
    <li><a href="/ResetPassword">Reset Password</a></li>
</ul>